@model Sol_Demo.TagHelpers.JqueryListBoxModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<link type="text/css" href="~/lib/jquery-listbox/css/jqx.base.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="divListBox" data-itemsource="@Model.ItemSource" data-onselectedindex="@Model.OnSelectedIndex" data-buttonid="@Model.OnGetItemButtonId">

            </div>
            <input id="hidItemSelectedPosition" type="hidden" name="hidItemSelectedPosition" />
        </div>

    </div>
</div>

